/* Font family */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");

/* tailwind inport */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Variables */
:root {
  /* color  */
  --color-primary: #0adab9;
  --color-secondary: #bfc6d7;

  --color-gray: #6a7ba8;
  --color-dark: #181830;

  --social-bg: #454c5f;

  --bg-dark: #1a1f2c;
  --bg-gray: #1e2433;

  --border: #272646;
}

/**================================================== *
 * ==========  Custom components  ========== *
 * ================================================== */
@layer components {
  /* @TODO: Typography */
  .paragraph-default {
    @apply text-[16px] md:text-[18px] leading-[21px] md:leading-[30px] font-normal text-[color:var(--color-secondary)];
  }
  .paragraph-large {
    @apply text-[18px] sm:text-[24px] leading-[24px] sm:leading-[34px] font-normal text-[color:var(--color-secondary)];
  }
  .paragraph-small {
    @apply text-[16px] leading-[21px] font-semibold;
  }
  .figure-caption {
    @apply text-[16px] leading-[22px] font-normal;
  }
  .heading-1 {
    @apply text-[38px] 
    sm:text-[57px]
    md:text-[76px] 
    leading-[49px] 
    sm:leading-[74px]
    md:leading-[99px] 
    font-bold text-white;
  }
  .heading-2 {
    @apply text-[32px] md:text-[57px] leading-[42px] md:leading-[74px] font-bold;
  }
  .heading-4 {
    @apply text-[24px] md:text-[32px] leading-[34px] md:leading-[42px] font-semibold text-white;
  }
  .heading-5 {
    @apply text-[18px] sm:text-[24px] leading-[23px] sm:leading-[31px] font-semibold;
  }
  .heading-6 {
    @apply text-[16px] md:text-[18px] leading-[23px] font-semibold;
  }

  /* @TODO: Button style */
  .btn {
    @apply inline-flex items-center justify-center uppercase text-[16px] sm:text-[18px] leading-[19px] sm:leading-[23px] font-semibold rounded-[5px] px-[15px] sm:px-[30px] py-[10px] sm:py-[15px] gap-1 hover:shadow-[4px_4px_9px_var(--bg-gray)] ease-out hover:translate-y-1 transition-all;
  }
  .btn--primary {
    @apply bg-[color:var(--color-primary)] text-[color:var(--color-dark)];
  }
  .btn--bark {
    @apply bg-[#202636] text-white;
  }
  .btn__social {
    @apply flex items-center justify-center bg-[color:var(--social-bg)] hover:bg-[color:var(--color-primary)] text-white w-8 xl:w-10 h-8 xl:h-10 hover:text-[color:var(--bg-dark)] rounded-full transition duration-500 ease-in-out;
  }
}
/* =======  End of Custom components  ======= */

/**================================================== *
 * ==========  utilities  ========== *
 * ================================================== */

@layer utilities {
  .box-shadow {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.3);
  }
}
/* =======  End of utilities  ======= */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Jost";

  background: var(--bg-dark);

  /* Paragraph Default */
  @apply paragraph-default;

  scroll-behavior: smooth !important;
}

/**================================================== *
 * ==========  Header  ========== *
 * ================================================== */
.header {
  background-image: url("./../public/images/frm-left.png"),
    url("./../public/images/bg-ellipse.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain, contain;
}
/* =======  End of Header  ======= */

.border-round-gradient {
  border: 0.88px solid;

  background: linear-gradient(0deg, var(--bg-dark), var(--bg-dark)) padding-box,
    linear-gradient(180deg, #0bdaba -19.75%, #7841e7 100%) border-box;

  border-color: transparent;
}

/**================================================== *
 * ==========  hero  ========== *
 * ================================================== */

.hero-left {
  background-image: url("./../public/images/frm-left.png"),
    url("./../public/images/bg-ellipse.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.hero-right {
  background-image: url("./../public/images/frm-right.png");
  background-repeat: no-repeat;
  background-position: right top;
}

/* =======  End of hero  ======= */

/**================================================== *
 * ==========  Roadmap  ========== *
 * ================================================== */

.collumn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  display: block;
  height: calc(100% / 5 * 5);
  border: 1px solid var(--bg-gray);
}

.collumn::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--bg-gray);
}

.steap::after {
  content: "";
  position: absolute;
  /* left: 100%; */
  background: var(--bg-gray);
  height: 2px;
  width: 4rem;
}

ul li::marker {
  color: var(--color-primary);
}

@media (max-width: 767.98px) {
  .collumn::before,
  .collumn::after {
    content: none;
  }
  .steap::after {
    height: 0px;
    width: 0rem;
  }
}
/* =======  End of Roadmap  ======= */

/**================================================== *
 * ==========  community  ========== *
 * ================================================== */

.community {
  background-image: url("../public/images/community_bg_1.png"),
    url("../public/images/community_bg_2.png");
  background-position: top left, top right;
  background-repeat: no-repeat;
}

/* =======  End of community  ======= */

/**================================================== *
 * ==========  Slider  ========== *
 * ================================================== */

.upToDown {
  animation: animateUpToDown 30s linear infinite;
  animation-delay: -15s;
}

.upToDown1 {
  animation: animateUpToDown-2 30s linear infinite;
  animation-delay: -30s;
}

.downToUp {
  animation: animateDownToUp 30s linear infinite;
  animation-delay: -15s;
}

.downToUp1 {
  animation: animateDownToUp-2 30s linear infinite;
  animation-delay: -30s;
}

.sliderUpToDown:hover .upToDown,
.sliderUpToDown:hover .upToDown1 {
  animation-play-state: paused;
}

.sliderDownToUp:hover .downToUp,
.sliderDownToUp:hover .downToUp1 {
  animation-play-state: paused;
}

@keyframes animateUpToDown {
  100% {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  0% {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes animateUpToDown-2 {
  100% {
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  0% {
    -moz-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}

@keyframes animateDownToUp {
  0% {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes animateDownToUp-2 {
  0% {
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -moz-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}
/* =======  End of Slider  ======= */
